.statistics_bd {
    font-family: SolaimanLipi;
    text-align: center;
    overflow: hidden;
    h2 {
        font-size: 22px;
        font-weight: 600;
        background: rgba(255, 177, 66, 1);
        padding: 10px 0;
        margin: 0!important;
        border-radius: 6px 6px 0 0;
    }
    .body {
        width: 50%;
        float: left;
        &.body_bd {
            &>h3 {
                background: rgba(255, 121, 63, .75);
                padding: 5px;
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                border-radius: 0 0 0 6px;
            }
            .content {
                .number {
                    &.death {
                        background: rgba(255, 121, 63, 1);
                        color: #fff;
                    }
                }
            }
        }
        &.body_world {
            &>h3 {
                background: rgba(112, 111, 211, .75);
                padding: 5px;
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                border-radius: 0 0 6px 0;
            }
            .content {
                border: none;
                .number {
                    background: rgba(112, 111, 211, .5);
                    &.death {
                        background: rgba(112, 111, 211, 1);
                        color: #fff;
                    }
                }
            }
        }
        .content {
            border-right: 1px dotted;
            .text {
                font-size: 18px;
                margin: 3px;
                &.sutro {
                    font-size: 14px;
                }
            }
            .number {
                background: rgba(255, 121, 63, .5);
                margin: 0 5%;
                border-radius: 6px;
                padding: 4px 4px;
                font-size: 20px;
                font-weight: 600;
                &.sutro {
                    background: 0 0;
                    color: #333;
                    font-weight: 400;
                    font-size: 14px;
                    padding: 0;
                    margin-top: 3px;
                    margin-left: 0;
                    width: 100%;
                    a {
                        color: #333;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}